* {
    margin: 0;
    padding: 0;
}
/* selector body */
body { 	/* declaration */
  /* property: value; */
    height: 100vh;
    color: white;  
} /* end of rule */

:root {
    font-size: 62.5%; /*100% equivale a 16px que é o padrão do navegador */
}

body, input, button, textarea {
    font: 400 1.8rem/1 'Nunito', sans-serif;    /* 400 é o peso da fonte. esse /1 é o espaçamento entre as linhas */
}